.header__app {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #f9f9f9;
}

.header__icons {
  font-size: 1.5rem;
  // margin: 20px;
  opacity: 0.5;
}

.header__icons__active {
  font-size: 1.5rem;
  color: red;
}
